@import "variables";

.contitulo{
    border-top: 5px solid black ;
    border-right: 5px solid black ;
    border-radius: 0 5px 0 0;
    padding: 2% 5% 0 5%;
    padding-top: 1%;
    background: linear-gradient(180deg, rgba(0,0,0,1) 8%, rgba(0,89,79,1) 100%, rgba(97,143,255,1) 100%, rgba(95,105,125,1) 100%, rgba(0,212,255,1) 100%);
    
    h1{
        font-size: 4vw;
        color: white;
    }

    div{
        width: 100%;
        background-color: rgb(182, 182, 182);
        padding: 0.5%;
        text-align: center;
        border-radius: 7px;
    }
}

.equipos-grid{
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    gap: 2%;
    padding-top: 50px;
    padding-bottom: 20%;
    background-color: $Green;
    
    hr{
        width: 95%;
        margin: 2%;
    }

    .filas-equipos{
        padding: 0 10% 0 10%;
        display: flex;
        justify-content: center;
        gap: 4%;
    
        .equipo-auto{
            border-radius: 0 20px 0 0;
            border-top: 3px solid $dGreen;
            border-right: 3px solid $dGreen;
            color: rgba(0, 0, 0, 0.493);
            font-size: 100%;
            width: 150%;

            .cabecera-piloto{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-right: 2%;

                h1{
                    font-weight: bold;
                    font-size: 380%;
                    padding-left: 4%;
                    color: white;
                }

                div{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    
                    h2{
                        color: white;
                        font-size: 200%;
                    }

                    .bg-black{
                        background-color: white;
                        border-radius: 10px;
                        color: white;
                        padding: 3px;
                        margin: 0;
                    }
                }
            }
            
            .nombre-piloto{
                display: flex;
                align-items: center;
                margin-left: 5px;
                border-left: 5px solid $aquamarine;
                justify-content: space-between;
                
                .nombre-p{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding-left: 2%;
                    
                    h3{
                        color: rgba(255, 255, 255, 0.562);
                        margin: 0;
                    }
                }

                img{
                    width: 18%;
                    margin-right: 2%;
                    background-color: white;
                    box-shadow: 0px 0px 15px 5px;
                    border-radius: 20px;
                }
            }
        
            .nombres-equipo{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .teamates{
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    gap: 2%;
                
                    .teamate1{
                        border-bottom: 1px solid black;
                        border-right: 1px solid black;
                        border-radius: 0 0 20px 0;
                        width: 100%;
                        margin-left: 2%;
                        padding: 2%;
    
                        h4{
                            color: rgba(255, 255, 255, 0.562);
                            font-size: 100%;
                        }
    
                        h3{
                            font-weight: bold;
                            color: white;
                            font-size: 130%;
                            margin: 0;
                        }
                    }
    
                    .teamate2{
                        border-bottom: 1px solid black;
                        border-right: 1px solid black;
                        border-radius: 0 0 20px 0;
                        width: 100%;
                        margin-right: 2%;
                        padding: 2%;
    
                        h4{
                            color: rgba(255, 255, 255, 0.562);
                            font-size: 100%;
                        }
    
                        h3{
                            color: white;
                            font-weight: bold;
                            font-size: 130%;
                            margin: 0;
                        }
                    }
                }
            }
            

                  
        }        
    }

}

body{
    @include media-query(mobile){
        main{
        
            .equipos-grid{
                gap: 0;
                padding-bottom: 5%;
                
                .filas-equipos{        
                    flex-direction: column;
                    align-items: center;
                    gap: 2%;

                    .equipo-auto{
                        width:100%;

                        .nombre-piloto{
                            
                            h3{
                                font-size: 4vw;
                            }
                        }

                        .nombres-equipo{

                            .teamates{
                                
                                .teamate1{
                                   
                                    h4{
                                        font-size: 3vw;
                                    }

                                    h3{
                                        font-size: 3vw;
                                    }
                                }

                                .teamate2{
                                   
                                    h4{
                                        font-size: 3vw;
                                    }

                                    h3{
                                        font-size: 3vw;
                                    }
                                }

                            }

                            img{
                                width: 70vw;
                            }
                        }
                    }
                }
            }
        }
    }
      
}