@import "variables";

.posiciones{
    display: flex;
    height: 200px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, rgba(0,0,0,1) 8%, rgba(0,89,79,1) 100%, rgba(97,143,255,1) 100%, rgba(95,105,125,1) 100%, rgba(0,212,255,1) 100%);

    h2{
        color: white;
        font-weight: bolder;
        
    }
}

.podium{
    display: flex;
    justify-content: center; 
    gap: 2%;  
    align-items: end;
    padding: 0 2% 0 2%;
    background-color: $Green;

    .puesto2{
        width: 90%;
        @extend .podio;

        .podio-piloto{

            h2{    
                position: absolute;
                left: 8%;
                bottom: 52%;
            }
        }
        
    }

    .puesto1{
        width: 100%;
        @extend .podio;

    }
    
    .puesto3{
        width: 80%;
        @extend .podio;

        .podio-piloto{
        
            h2{ 
                position: absolute;
                left: 8%;
                bottom: 52%;
                bottom: 70%;
                font-size: 500%;
            }
        }        
    }
}


.podio{
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    box-shadow: 5px 5px 20px;

    .podio-piloto{
        border-bottom: 8px solid $dGreen;
        position: relative;
        height: 100%;
        background-image: url(../../img/fondo-lineas.png);
        background-size: contain;
        background-color: #77a799;
        border-radius: 20px 20px 0 0;
        
        h2{
            position: absolute;
            left: 5%;
            top: 5%;
            font-size: 5vw;
            color: white;
            font-weight: bolder;
        }

        .podio-img{
            width: 100%;
        }
        
    }

    .name-podio{
        display: flex;
        justify-content: space-between;
        background-color: black;
        color: white;
        padding: 5%;
        width: 100%;
        border-radius: 0 0 25px 25px;
    
        h3,h2{
            font-size: 2vw;
        }

        img{
            width: 30%;
            height: 100%;
        }
    }
}


.position-pilotos{
    background-color: $Green;
    padding-top: 20px;

    .contenedor-acordeon{
        padding: 2% 5% 2% 5%;
        display: flex;
        flex-direction: column;
        position: relative;
        gap: 5px;

        h2{
            text-align: center;
            font-size: 40px;
            margin-bottom: 35px;
        }


        .acordeon{
            
            .btn-acordeon{
                display: none;
                &:checked ~ .contenido-acordeon{
                    max-height: 700px;
                    
                }
            }
             

            label{
                display: block;
                font-size: 20px;
                color: white;
                cursor: pointer;
                margin: 0;

                .stand{
                    display: flex;
                    justify-content: space-between;
                    text-align: center;
                    background-color: $dGreen;
                    padding-left: 20px;
                    transition: .3s;

                    &:hover{
                        background-color: $aquamarine;
                    }

                    .st-name{
                        display: flex;
                        align-items: center;
                        gap: 2%; 
                        width: 80%;
                    
                        h2{
                            border-right: 3px solid red;
                            padding-right: 2%;
                            width: 50px;
                            margin: 6px;
                        }

                        h3{
                            margin: 0;
                        }

                        h4{
                            margin: 0;
                        }
                    }
            
                    .points{
                        display: flex;
                        align-items: center;
                        padding: 8px 20px 8px 20px;
                        gap: 2%;
                        text-align: center;

                        h2{
                            background-color: black;
                            border-radius: 20px;
                            color: white;
                            margin: 0;
                            width: 115px;
                            font-size: 20px;
                            
                        }
   
                        .bi-chevron-up{
                            display: none;
                        }
                    }
                }   
                
                .primer-acordeon{
                    border-radius: 20px 20px 0 0;
                }

            }

            .contenido-acordeon{
                display: flex;
                background-color: $dGreen;
                background-image: url(../../img/lineas-diag.png);
                background-size: cover;
                max-height: 0;
                overflow: hidden;
                transition: all .5s ease;
                justify-content: space-between;
                border-radius: 0 0 20px 20px;
        
                .persona{
                    position: relative;
                    
                    .persona-piloto{
                        width: 38vw;
                        height: 100%;
                    }
                    
                    .persona-nacionalidad{
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 8vw;
                    }
            
                }

                .info{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 100%;

                    .merchandise{
                
                        img{
                            width: 35vw;
                        }
                    }
        
                    table{
                        width: 100%;
                        background-color: $aquamarine;
                        text-align: center;
                        border-collapse: collapse;
                        
                        td{
                            padding: 5px 15px 5px 5px;
                            font-size: 1.5vw;
                        }
                        
                        tr:nth-child(even){
                            background-color: $cBlue;
                        }
                        
                    }
                }    
            }
        }
    }
    
   
}

.f1topics{
    padding: 1% 2% 0 2%;
    background-color: $Green;

    h2{
        color: white;
        
    }

    .f1-new-topics{
        border-top: 8px solid $dGreen;
        border-right: 8px solid $dGreen;
        border-radius: 20px 20px 0 0;
        padding-top: 2%;
        padding-right: 2%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 30px;
        margin-top: 2%;
        padding-bottom: 2%;
        width: 100%;

        h3{
            color: white;
        }

        .refs-e{
            display: flex;
            background-image: url(../img/e-sport.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            height: 170px;
            width: 302px; 
            justify-content: center;
            align-items: center;
            text-decoration: none;
            border-radius: 20px 0 0 0;
            transition: .3s;

            &:hover{
                filter: grayscale(100%);
            }
        }
        
        .refs-s{
            display: flex;
            position: relative;
            background-image: url(https://media.formula1.com/image/upload/f_auto/q_auto/v1679313708/fom-website/2018-redesign-assets/Tag%20collections/Other/NetZero_Car_i4_i3_0004.jpg.transform/5col/image.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            height: 170px;
            width: 302px; 
            justify-content: center;
            align-items: center;
            text-decoration: none;

            &:hover{
                filter: grayscale(100%);
            }
        }
        
        .refs-p{
            display: flex;
            position: relative;
            background-image: url(https://media.formula1.com/image/upload/content/dam/fom-website/2018-redesign-assets/Tag%20collections/Other/Beyond%20The%20Grid%20Header%202023.png.transform/5col/image.png);
            background-repeat: no-repeat;
            background-size: cover;
            height: 170px;
            width: 302px;
            justify-content: center;
            align-items: center;
            text-decoration: none; 

            &:hover{
                filter: grayscale(100%);
            }
        }
        
        .refs-c{
            display: flex;
            position: relative;
            background-image: url(https://media.formula1.com/content/dam/fom-website/sutton/2022/Brazil/Saturday/1441003037.jpg.img.320.medium.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            height: 170px;
            width: 302px; 
            justify-content: center;
            align-items: center;
            text-decoration: none;
            text-align: center;
            border-radius: 0 20px 0 0;
            
            &:hover{
                filter: grayscale(100%);
            }
        }
    }
}

body{
    @include media-query(tablet){
        main{
            background-color: $Green;

            .posiciones{
                height: 60px;
            }
            
            .podium{

                .puesto2{
                    display: none;
                }

                .puesto1{

                    width: 70%;
                    margin: 10px 0px 30px 0px;
                    
                    .podio{

                        .podio-piloto{

                            h2{
                                left: 6%;
                                bottom: 67%;
                                font-size: 401%;
                            }

                            img{
                                width: 60vw;
                            }
                        }

                        .name-podio{
                            
                            align-items: center;

                            div{
                                font-size: small;
                            }

                            img{
                                width: 25%;
                                height: 30%;
                            }
                        }
                    }
                }

                .puesto3{
                    display: none;
                }
            }

            .position-pilotos{

                .contenedor-acordeon{
                    padding: 0% 5% 2% 5%;

                    .acordeon{
                        
                        label{

                            .stand{
                                padding: 0;
            
                                .st-name{
                                    gap: 0;
                                    padding-right: 6%;
                                    padding-left: 6%;
            
                                    h2{
                                        font-size: 6vw;
                                        padding-right: 15px;
                                        margin: 0;
                                        width: 40px;
                                    }
            
                                    h3{
                                        display: none;
                                    }
            
                                    h4{
                                        margin: 0;
                                        padding-left: 5%;
                                        font-size: 4vw;
                                    }
            
                                    p{
                                        display: none;
                                    }
                                }
            
                                .points{
                                 padding: 0 3px 0 0;
                                    
                                    h2{
                                        font-size: 3.5vw;
                                        border-radius: 20px;
                                        width: 70px;
                                    }
            
                                    i{
                                        font-size: 25px;
                                    }
                                }
                            }
                        }
                    }
                }
                
            }

            .f1topics{

                padding: 25px 10px 3px 10px;

                h2{
                    left: 159px;
                }

                .f1-new-topics{
                    flex-direction: column;
                    padding-top: 6%;
                    padding-bottom: 4%;

                    .refs-e{
                       
                        transition: transform 2;
                    &:hover{
                    transform: scale(1.1);
                    }
                    }

                    .refs-s{
                        
                        transition: transform 2;
                    &:hover{
                    transform: scale(1.1);
                    }
                    }

                    .refs-p{
                        
                        transition: transform 2;
                    &:hover{
                    transform: scale(1.1);
                    }
                    }

                    .refs-c{
                       
                        transition: transform 2;
                    &:hover{
                    transform: scale(1.1);
                    }
                    }
                }
            }
        }
    }
}